* {
	box-sizing: border-box;
}

body {
	background-color: white;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

p {
	margin: 5px 0;
}

h2 {
	margin: 10px 0 20px;
	text-align: center;
}

input[type=checkbox] {
	margin-right: 0;
}

.box {
	background-color: black;
	padding: 20px;
	width: 350px;
	max-width: 100%;
}

.output {
	background-color: dimgrey;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	letter-spacing: 1px;
	padding: 12px 10px;
	height: 50px;
	width: 100%;
}

.copybutton {
	border: none;
	color: black;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 12px;
	background-color: #3B3B98;
}

.button {
	display: block;
	width: 100%;
}

.setting {
	display: flex;
	align-items: center;
	margin: 15px 0;
}

